header {
    nav {
        background-color: $color-principal;
        div {
            a {
                img {
                    width: 90px;
                }
            }
            button {
                span {}
            }
            div {
                ul {
                    li {
                        font-size: 20px;
                        a {}
                    }
                }
                form {
                    input {}







                    button {}
                }
            }
        }
    }
}