main {
    margin: 0;
    padding: 0;

    section {}

    section {
        h2 {
            color: $color-secundario;
            @include flex (flex, center, center);
            margin-top: 50px;
            font-size: 50px;
            text-decoration: underline;
        }

        div {
            div {
                img {}

                h3 {}
            }
        }
    }

    .hero {
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 900px;
        background-position: center;
        background-image: url(../img/fotoportadaindex.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section1 img {
        width: 300px;
        height: 300px;
    }

    .div1 {
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 200px;
        display: flex;
        justify-content: space-around;


    }

    .div1 h3 {
        margin-top: 20px;

    }
}