@media screen and (max-width:1060px) {
    header nav div div ul li {
        font-size: 17px;
    }
}

@media screen and (max-width:900px) {


    .div1 {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:430px) {
    main section h2 {
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-size: 40px;
        text-decoration: underline;
    }
}
    @media screen and (max-width:430px) {
    .div1 {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:430px) {
    main .section1 img{
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width:1500px) {
    main .sec-1-cate img {
        width: 450px;
        height: 450px;
    }

    main .sec-2-cate img {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width:1350px) {
    main .sec-1-cate img {
        width: 400px;
        height: 400px;
    }

    main .sec-2-cate img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width:1200px) {
    main .sec-1-cate img {
        width: 300px;
        height: 300px;
    }

    main .sec-2-cate img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:900px) {
    main .sec-1-cate {
        flex-direction: column;
        align-items: center;
    }

    main .sec-2-cate {
        flex-direction: column;
        align-items: center;
    }

    main .sec-1-cate img {
        width: 500px;
        height: 500px;
    }

    main .sec-2-cate img {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width:500px) {
    main .sec-1-cate img {
        width: 400px;
        height: 400px;
    }

    main .sec-2-cate img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width:400px) {
    main .sec-1-cate img {
        width: 350px;
        height: 350px;
    }

    main .sec-2-cate img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:900px) {
    main .h2-juegos {
        font-size: 5rem;
    }

}

@media screen and (max-width:732px) {
    main .h2-juegos {
        font-size: 4rem;
    }
}

@media screen and (max-width:592px) {
    main .h2-juegos {
        font-size: 3rem;
    }
}

@media screen and (max-width:455px) {
    main .h2-juegos {
        font-size: 2.1rem;
    }
}

@media screen and (max-width:900px) {
    main .h2-linea-bebe {
        font-size: 5rem;
    }
}

@media screen and (max-width:732px) {
    main .h2-linea-bebe {
        font-size: 4rem;
    }
}

@media screen and (max-width:592px) {
    main .h2-linea-bebe {
        font-size: 3rem;
    }
}

@media screen and (max-width:455px) {

    main .h2-linea-bebe {
        font-size: 2.5rem;
    }
}


@media screen and (max-width:900px) {
    main .h3-didac {
        font-size: 5rem;
    }
}

@media screen and (max-width:732px) {
    main .h3-didac {
        font-size: 4rem;
    }
}

@media screen and (max-width:592px) {
    main .h3-didac {
        font-size: 3rem;
    }
}

@media screen and (max-width:455px) {
    main .h3-didac {
        font-size: 2.5rem;
    }
}


@media screen and (max-width:900px) {
    main .h3-libros {
        font-size: 5rem;
    }
}

@media screen and (max-width:732px) {
    main .h3-libros {
        font-size: 4rem;
    }
}

@media screen and (max-width:592px) {
    main .h3-libros {
        font-size: 3rem;
    }
}

@media screen and (max-width:455px) {
    main .h3-libros {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:900px) {
    main .h3-varios {
        font-size: 5rem;
    }
}

@media screen and (max-width:732px) {
    main .h3-varios {
        font-size: 4rem;
    }
}

@media screen and (max-width:592px) {
    main .h3-varios {
        font-size: 3rem;
    }
}

@media screen and (max-width:455px) {
    main .h3-varios {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:455px) {
    main .linea-bebe img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:455px) {
    main .libros img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:455px) {
    main .didacticos img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:455px) {
    main .varios img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:455px) {
    main .juegos-y-juguetes img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:1200px) {
    main .galeria-produc img {
        height: 350px;
    }

}

@media screen and (max-width:1050px) {
    main .galeria-produc img {
        height: 300px;
    }

}

@media screen and (max-width:950px) {
    main .galeria-produc img {
        height: 250px;
    }

}

@media screen and (max-width:850px) {
    main .galeria-produc {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width:627px) {
    main .h2-producto {
        font-size: 40px;
    }

}

@media screen and (max-width:505px) {
    main .h2-producto {
        font-size: 30px;
    }

}

@media screen and (max-width:505px) {
    main .galeria-produc {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width:505px) {
    main .galeria-produc img {
        height: 300px;
    }

}

@media screen and (max-width:389px) {
    main .h2-producto {
        font-size: 25px;
    }

}
@media screen and (max-width:1260px) {
    main .section-final img {
        width: 500px;
        height: 700px;
    }

}
@media screen and (max-width:1260px) {
    main .section-final p {
        width: 500px;
    }

}
@media screen and (max-width:1260px) {
    main .section-final p {
        font-size: 23px;
    }

}
@media screen and (max-width:1050px) {
    main .section-final img {
        width: 400px;
        height: 600px;
    }

}
@media screen and (max-width:1050px) {
    main .section-final p {
        width: 400px;
    }

}
@media screen and (max-width:1050px) {
    main .section-final p {
        font-size: 20px;
    }

}
@media screen and (max-width:830px) {
    main .section-final img {
        width: 300px;
        height: 500px;
    }

}
@media screen and (max-width:830px) {
    main .section-final p {
        width: 300px;
    }

}
@media screen and (max-width:830px) {
    main .section-final p {
        font-size: 18px;
    }

}
@media screen and (max-width:630px) {
    main .section-final  {
        flex-direction: column;
    }

}
@media screen and (max-width:630px) {
    main .section-final img {
        width: 400px;
        height: 600px;
    }

}
@media screen and (max-width:630px) {
    main .section-final p {
        font-size: 20px;
    }

}
@media screen and (max-width:550px) {
    main .titulo-final {
        font-size: 40px;
    }

}
@media screen and (max-width:550px) {
    main .form-select1 {
        width: 400px;
    }

}
@media screen and (max-width:550px) {
    main .form-select2 {
        width: 400px;
    }

}
@media screen and (max-width:550px) {
    main .form-select3 {
        width: 400px;
    }

}
@media screen and (max-width:470px) {
    main .section-final img {
        width: 300px;
        height: 500px;
    }

}
@media screen and (max-width:470px) {
    main .section-final p {
        font-size: 18px;
    }

}
@media screen and (max-width:470px) {
    main .titulo-final {
        font-size: 30px;
    }

}
@media screen and (max-width:470px) {
    main .form-select1 {
        width: 300px;
    }

}
@media screen and (max-width:470px) {
    main .form-select2 {
        width: 300px;
    }

}
@media screen and (max-width:470px) {
    main .form-select3 {
        width: 300px;
    }

}

