//!VARIABLES
//Usado en header,footer,index y contacto
$color-principal: burlywood;
$color-secundario: red;
$color-terciario: black;
//!LISTAS
//Usado en contacto y footer
$colores: burlywood, red, black;
$font-size: 50px, 40px;
//!OPERACIONES
//Usado en footer
$ancho: 100px 




